@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-font-family: 'Righteous', sans-serif;
    ;
    --light-white: #f5f8fa;
    --gray: #5e6278;
    --gray-1: #e3e3e3;
}

* {
    font-family: var(--primary-font-family);
    font-size: 14px;
}

.contain {
    background-image: url('../Images/Rectangle.png');
    background-size: cover;
    width: fit-content;
    padding: 3rem;
    opacity: 1;
    margin: auto;
    padding-left: 9rem;
    padding-right: 9rem;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin: 3%;
    border-radius: 30px;
    background: rgba(106, 154, 210, 0.25);
    backdrop-filter: blur(1200px);
    /* Apply opacity to the background color only */
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
}

.main {

    h1,
    p {
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
    }

    span {
        border-radius: 286px;
        background: linear-gradient(339deg, #72A5BF -20.41%, rgba(141, 186, 211, 0.00) 54.1%);
        background-blend-mode: luminosity;
    }
}

.form {
    width: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 5rem;

    .forms {
        display: flex;
        gap: 2rem;

        .labels {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            input {
                border-radius: 0.34rem;
                border: none;
            }
        }

    }

    .buttons {
        display: flex;
        flex-direction: column;

        button {
            padding: 0.5rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            border-radius: 10px;
            background: linear-gradient(90deg, #7BB2CA 14.47%, rgba(5, 32, 86, 0.70) 55.11%, #7BB2CA 99.91%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: fit-content;
            color: #FFF;
            text-align: center;
            font-family: Roboto Serif;
            font-size: 14px;
            border: none;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
        }
    }
}