@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-font-family: 'Righteous', sans-serif;
    --light-white: #f5f8fa;
    --gray: #5e6278;
    --gray-1: #e3e3e3;
}

* {
    font-size: 14px;
    list-style: none;
}

.container {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.container .start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container .start h1 {
    max-width: 50%;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.container .start p {
    max-width: 57%;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.container .buttons {
    display: flex;
    justify-content: center;
}

.container .buttons button {
    border-radius: 30px;
    border: none;
    background: #9AB7D3;
    color: #000;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    width: 100px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.pricing{
    display: flex;
    align-items: center;
}


/* Price One */

.pricingOne {
    height: 100%;
    color: #fff !important;
    width: fit-content;
    padding: 4rem;
    border-radius: 0px 300px 0px 0px;
    background: #19176D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.pricingOneHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pricingOneImages img {
    text-align: center;
    width: 7rem;
}

.pricingOneHeadings>h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    text-decoration-line: underline;
}

.pricingOneHeadings .pricingOneSubHeadings {
    display: flex;
    gap: 0.6rem;
}

.pricingOneHeadings .pricingOneSubHeadings>h1 {
    color: #FFF;
    font-family: Roboto Slab;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricingOneList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 3rem;
}

.pricingOneList>.pricingOneListSvg {
    float: right;
}


/* Price Two */

.pricingTwo {
    color: #fff !important;
    width: fit-content;
    padding: 4rem;
    border-radius: 300px;
    background: rgba(147, 193, 212, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
}

.pricingTwoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pricingTwoImages img {
    text-align: center;
    width: 7rem;
}

.pricingTwoHeadings>h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    color: #19176D;
    text-decoration-line: underline;
}

.pricingTwoHeadings .pricingOneSubHeadings {
    display: flex;
    gap: 0.6rem;
}

.pricingTwoHeadings .pricingOneSubHeadings>h1 {
    color: #19176D !important;
    font-weight: 700;
    font-family: Roboto Slab;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
}

.pricingTwoList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 3rem;
    color: black;
}

.pricingTwoList>.pricingTwoListSvg {
    float: right;
    color: black;
}